<div class="container">
  <h1>Your question:</h1>
  <p class="fs-5"><%= @question %></p>

  <h2>Coach's answer:</h2>
  <p class="coach-answer fs-6"><%= @answer %></p>

  <%= link_to "Ask another question", ask_path, class: "btn btn-link" %>
</div>
